[submodule "inPainting"]
	path = inPainting
	url = https://github.com/kushagr2402/MAT.git
[submodule "segmentation"]
	path = segmentation
	url = https://github.com/kushagr2402/ritm_interactive_segmentation.git
[submodule "libigl"]
	path = libigl
	url = https://github.com/kushagr2402/libigl.git
